Package: com.yourcompany.tweak-crack-wx
Name: Tweak-crack-WX
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: dabing
Author: dabing
Section: Tweaks
